<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
  <script src="/js/modernizr.js"></script> <!-- Modernizr -->

  <title>Contracts Directory</title>
</head>
<body>
<header class="cd-header">
  <h1>Contracts Directory</h1>
</header>

<main class="cd-main-content">
  <div class="cd-tab-filter-wrapper">
    <div class="cd-tab-filter">
      <ul class="cd-filters">
        <li class="filter"><a href="/contracts" data-type="all">Go back</a></li>
      </ul> <!-- cd-filters -->
    </div> <!-- cd-tab-filter -->
  </div> <!-- cd-tab-filter-wrapper -->

  <section class="cd-details">
    <a href="#" class="consumers-count">Consumers: {{consumersCount}}</a>

    {{#if renderedContractInIframe}}
      <iframe src="{{{renderedContractIframeSrc}}}" onload="this.height=this.contentWindow.document.body.scrollHeight+'px';"></iframe>
    {{else}}
      {{{renderedContract}}}
    {{/if}}

  </section>

</main> <!-- cd-main-content -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>